<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> Group </title>
	</head>
	<body>
		<h1> Session will start when 2 users will connect </h1>
		<input type = 'button' value = 'connect' id = 'connect_button'/>
		<div id = 'game_elements' hidden>

			<audio id = 'audio_word' controls = 'controls' src ="/static/audio/test.mp3" type="audio/mpeg" >
				Your browser does not support the audio element.
			</audio>

			<form id='my_form' method = 'POST'>
				<input type = 'text' id = 'input_word' name = 'input_word' value = ''/>
				<input type="submit" id="submit_button" value='Next'/>
				<div id="myDiv"></div>
 			</form>

		</div>

		<ul id = 'status_messages'>


		</ul>

		<script src = '{% static "js/jquery-2.1.4.js" %}'></script>
	  <script src = '{% static "js/ws4redis.js" %}'></script>
	  <script type = 'text/javascript'> 
		  var WEBSOCKET_URI = "{{ WEBSOCKET_URI }}";
		  var GANSWER_POST = "{% url 'ganswer_post' %}";
		  var GCONNECT_POST = "{% url 'gconnect_post' %}";
		  var WS4REDIS_HEARTBEAT = {{ WS4REDIS_HEARTBEAT }};
		  //var USERCOUNT = 2;
	  </script>
	  <script src = '{% static "js/group-jquery.js" %}'></script>

	</body>
</html>