<!DOCTYPE html>
<html>

    <head>
        <title>Spelling</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1> welcome {{user.username}}</h1>
        <p> start single <a href = '/words/start/'>session</a> now!</p>
        <p> <a href = '/words/logout'> logout </a>
        <p> start group<a href = {% url 'group' %}> session </a> now!
        {% else %}
        <a href='/words/register/'>register here!</a>
        <a href='/words/login/'>login here!</a>
        {% endif %}
    </body>

</html>